html{
background-color:black;
}
body{
background-color:black;
}
#on_click_close{
background-image:url("http://localhost:8889/image_created_by_thunar.jpg");
background-color:black;
width:100%;
height:100%;
bottom:40px;
}
#bottom_bar{
position:absolute;
width:100%;
bottom:0px;
background-color:#222;
height:40px;
}
.btn{
font-size:1em !important; /* NEW */
}
#content{
font-size:1.5em; /* NEW */
position:absolute;
text-align:center;
top:35%; /* NEW, 42 before, related to font size */
}
#link{
color:white;
}
#left_right{
color:yellow;
}
#Image1{
position:absolute;
top:10px;
left:10px;
}
#Image2{
position:absolute;
top:10px;
right:10px;
}
*{
padding:0px;
margin:0px;
}
.widget{
color:orange;
position:absolute;
border-radius:30px;
padding:12px;
background-color:rgba(0, 0, 0, 0.7); /* NEW */
text-shadow:0px 0px 1px black,1px 0px 1px black,0px 1px 1px black,1px 1px 1px black,
  0px 0px 1px black,-1px 0px 1px black,0px -1px 1px black,-1px -1px 1px black; /* NEW */
}
#Elem1_html{
bottom:50px;
right:10px;
}
#Elem2_html{
bottom:50px;
left:10px;
}
#Link_html{
bottom:50px;
left:50%;
}
#Family_html{
top:10px;
left:50%;
}
