html{
background-color:black;
}
body{
background-color:black;
}
#on_click_close{
background-image:url("background.jpeg");
background-color:#666666;
width:100%;
height:100%;
bottom:40px;
}
#bottom_bar{
position:absolute;
width:100%;
bottom:0px;
background-color:#222;
height:40px;
}
.btn{
  border:1px solid white;
/* font-size:1em !important; /* NEW */ */
}
#content{
/* pointer-events:none; */
font-size:1.5em; /* NEW */
position:absolute;
text-align:center;
top:35%; /* NEW, 42 before, related to font size */
color:#444;
}
#link{
color:white;
}
.bigfont{
  font-size:32px;
  color:#CCC;
}
#Image1{
position:absolute;
top:10px;
left:10px;
}
#Image2{
position:absolute;
top:10px;
right:10px;
}
*{
padding:0px;
margin:0px;
}
.widget{
color:orange;
position:absolute;
border-radius:30px;
padding:12px;
background-color:rgba(0, 0, 0, 0.7); /* NEW */
text-shadow:0px 0px 1px black,1px 0px 1px black,0px 1px 1px black,1px 1px 1px black,
  0px 0px 1px black,-1px 0px 1px black,0px -1px 1px black,-1px -1px 1px black; /* NEW */
}
#Elem1_html{
bottom:50px;
right:10px;
}
#Elem2_html{
bottom:50px;
left:10px;
}
#Link_html{
bottom:50px;
left:50%;
}
#Family_html{
top:10px;
left:50%;
}



#left_arrow{
	font-size:44px;
	height: 100%;
	position: fixed;
	z-index: 12;
	left: 0;
  color:#CCC;
}
#right_arrow{
	font-size:44px;
	height: 100%;
	position: fixed;
	z-index: 12;
	right: 0;
  color:#CCC;
}
#side_left{
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  display: none;
  border-right:1px solid #CCC;
}
#side_right{
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  display: none;
  border-left:1px solid #CCC;
}

/* Style the tab */
.tab_1 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab_1 button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab_1 button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab_1 button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent_1 {
  display: none;
  padding: 0px;
  maring: 0px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the tab */
.tab_2 {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab_2 button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab_2 button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab_2 button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent_2 {
  display: none;
  padding: 0px;
  margin: 0px;
  border: 1px solid #ccc;
  border-top: none;
}

.play-icon{
  border:1px solid #888 !important;
  margin:20px;
}
.glyphicon-remove{
  color:red;
  border:1px solid red !important;
}
